<div class="upload-container">
  <ngx-file-drop
    (onFileDrop)="onFileDropped($event)"
    [dropZoneLabel]="'Déposez un fichier ici'"
  >
    <div ngx-file-drop-content class="drop-area">
      <p>
        Glissez-déposez un fichier Excel ici ou cliquez pour sélectionner un
        fichier
      </p>
    </div>
  </ngx-file-drop>

  <input
    type="file"
    (change)="onFileSelected($event)"
    accept=".xlsx, .xls"
    hidden
    #fileInput
  />
  <button (click)="fileInput.click()">Choisir un fichier</button>

  <button (click)="uploadExcel()" [disabled]="!selectedFile">Envoyer</button>

  <div *ngIf="excelData.length">
    <h3>Contenu du fichier (formaté) :</h3>
    <table>
      <tr>
        <th *ngFor="let key of headers">{{ key }}</th>
      </tr>
      <tr *ngFor="let row of excelData">
        <td *ngFor="let key of headers">{{ row[key] }}</td>
      </tr>
    </table>
  </div>
</div>
